@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.calendarBox {
		top: 32px;
		padding: 12px;
		box-shadow: 0px 1px 3px 0px #1018281a, 0px 1px 2px -1px #0000001a;
		background-color: #fff;
		border-radius: 6px;
	}

	.calendarBox button {
		padding: 0;
	}

	.calendarBox img {
		margin-right: 0 !important;
	}

	.calendarBox button:nth-child(2) {
		padding: 0 10px;
	}

	.custom-radio {
		background-color: #fff; /* Replace with your desired color */
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		display: inline-block;
		position: relative;
	}
	.custom-radio:checked::before {
		content: "";
		display: block;
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 50%;
		background: #000; /* Inner circle color */
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.filter-box::-webkit-scrollbar {
	width: 8px;
}

.filter-box::-webkit-scrollbar-track {
	background: #fff;
}

.filter-box::-webkit-scrollbar-thumb {
	background: #e2e8f0;
	border-radius: 8px;
}

.filter-box::-webkit-scrollbar-thumb:hover {
	background: #e2e8f0;
}
